<div>
    <div templating-sect    ion="productos">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header row">
                    <img src="img/icons/bebidas.png" class="iconosCategorias col s3 off-sets1"/>
                    <span class="spanCategorias col s8">Bebidas</span>
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li class="subcategoria">Alcohólicas</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Energeticas</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Gaseosas</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Naturales</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header row">
                    <img src="img/icons/Carnes.png" class="iconosCategorias col s3 off-sets1"/>
                    <span class="spanCategorias col s8">Carnes</span>
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li class="subcategoria">Pollo</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Res</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Cerdo</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Pescado</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header row">
                    <img src="img/icons/tomate.png" class="iconosCategorias col s3 off-sets1"/>
                    <span class="spanCategorias col s8">Vegetales y frutas</span>
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li class="subcategoria">Vegetales</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Frutas</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header row">
                    <img src="img/icons/lacteos.png" class="iconosCategorias col s3 off-sets1"/>
                    <span class="spanCategorias col s8">Lácteos</span>
                </div>
                <div class="collapsible-body">
                    <ul>
                        <li class="subcategoria">Leche</li>
                        <li class="divider"></li>
                        <li class="subcategoria">Queso</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>