<div templating-extends="plantilla">
    <ul>
        <li class="divider"></li>
        <li class="row">
            <img src="img/productos/doritos-nacho-cheese.png" class="col s3 offset-s1 iconosCategorias">
                <div class="col s5 offset-s1 divTexto">
                    <b class="titulo">Doritos</b><br>
                    <span>Nacho cheese</span><br>
                    <span>250mg</span><br>
                    <b>₡300</b>
                </div>
                <div class="col s2 margenEstrella">
                    <a class="btn-floating btn-tiny waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
        </li>
        <li class="divider"></li>     
        <li class="row">
            <img src="img/productos/doritos-cool-ranch.png" class="col s3 offset-s1 iconosCategorias">
                <div class="col s5 offset-s1 divTexto">
                    <b class="titulo">Doritos</b><br>
                    <span>Cool ranch</span><br>
                    <span>250mg</span><br>
                    <b>₡300</b>
                </div>
                <div class="col s2 margenEstrella">
                    <a class="btn-floating btn-tiny waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
        </li>
        <li class="divider"></li>            
        <li class="row">
            <img src="img/productos/doritos_collisions.png" class="col s3 offset-s1 iconosCategorias">
                <div class="col s5 offset-s1 divTexto">
                    <b class="titulo">Doritos</b><br>
                    <span>Collisions</span><br>
                    <span>250mg</span><br>
                    <b>₡300</b>
                </div>
                <div class="col s2 margenEstrella">
                    <a class="btn-floating btn-tiny waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
        </li>
        <li class="divider"></li> 
        <li class="row">
            <img src="img/productos/doritos-bits-bbq-370x680.png" class="col s3 offset-s1 iconosCategorias">
                <div class="col s5 offset-s1 divTexto">
                    <b class="titulo">Doritos</b><br>
                    <span>Bits</span><br>
                    <span>250mg</span><br>
                    <b>₡300</b>
                </div>
                <div class="col s2 margenEstrella">
                    <a class="btn-floating btn-tiny waves-effect waves-light yellow"><i class="material-icons">star</i></a>
                </div>
        </li>
        <li class="divider"></li>           
    </ul>
</div>