html, body{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: 100% 100%;
}

/*------------------Login------------------------*/
.margenLogo{
    margin-top: 22%;
    margin-bottom: 22%;
}

.contenido{
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.8);
}

.margeninputs{
    margin: 7%;
}
/*-----------------Fin--Login--------------------*/

/*-------------------Plantilla--------------------*/

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.headerText{
    font-size: 2rem;
    margin auto;
    color: #FFFFFF;
}


.header{
    margin: 4%;
}

.contenidoProductos{
    background-color: rgba(236, 239, 241, 1);
    margin-top: 4%;
    position: absolute;
    width: 100%;
    height: 81%;
    box-shadow: 0px 0px 10px 5px gray inset;
}

.remove-margin{
    margin-bottom: 0;
}

.divfooter{
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
}

.iconSmarket{
    width: 140%;
}
/*-----------------Fin--Plantilla--------------------*/

/*------------------Div-Categorias-----------------------------*/
.contenedorPasillos{
    background-color: rgba(255, 255, 255, 1);
}

.iconosCategorias{
    margin-bottom: 1%;
    margin-top: 1%;
}

.subcategoria{
    font-size: 1.2rem;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.spanCategorias{
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 4%;
}
/*----------Fin--Div-Categorias-----------------------*/

/*------------------Div-Productos-----------------------------*/

.titulo{
    font-size: 1.3rem;
}

.divTexto{
    margin-top: 2%;
    font-size: 1.1rem;
}

.margenEstrella{
    margin-top: 2%;
}